<div fxLayout="column" fxLayoutAlign="space-around strech" fxLayoutGap="10px">
  <mat-card>
    <form [formGroup]="formGroup">
      <div fxLayout="column" fxLayoutAlign="space-evently stretch" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start stretch"
             fxLayoutGap="10px">

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name"/>
          </mat-form-field>

        </div>

      </div>
      <mat-action-row fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-button mat-raised-button color="warn" (click)="goToPage('marital_status')">VOLTAR</button>
        <button mat-button mat-raised-button color="primary" (click)="saveOrUpdate()">SALVAR</button>
      </mat-action-row>
    </form>
  </mat-card>
</div>
